h1 {
  color: blue;
}

table, td {
  border-collapse: collapse;
  border: 2px solid blue;
  padding: 10px;
  align-items: center;
  text-align: center;
  td {
    font-size: xx-large;
  }
}

img {
  width: 120px;
  aspect-ratio: 1/1;
}